<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <style>
    .post-meta {
      color: black;
      font-weight: bold;
    }
  </style>
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
  {%- include google-analytics.html -%}
  {%- endif -%}

  {% capture link1 %}{{ site.baseurl_root }}/it{{ page.url}}{% endcapture %}
  <link rel="alternate" href="https://al.caprar.xyz{{ link1 }}" hreflang="it-it" />
  {% capture link2 %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
  <link rel="alternate" href="https://al.caprar.xyz{{ link2 }}" hreflang="en-gb" />

</head>