<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

  {%- include head.html -%}

  <script async src="https://ackee.caprar.xyz/tracker.js" data-ackee-server="https://ackee.caprar.xyz" data-ackee-domain-id="c2d66b5d-80ff-44c3-ae45-bb51bb29a732" data-ackee-opts='{ "ignoreOwnVisits": false, "detailed": true }'></script>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
