---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      <span>
      {% if site.lang == "it" %}
        {% capture link1 %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
        <a href="{{ link1 }}" >{% t global.english_version %}</a>
        {% elsif site.lang == "en" %}
        {% capture link2 %}{{ site.baseurl_root }}/it{{ page.url  }}{% endcapture %}
        <a href="{{ link2 }}" >{% t global.italian_version %}</a>
      {% endif %}
      </span>
      <span>
        {% for tag in page.tags %}
        {% if forloop.first %}Tags: {% endif %}{{tag}}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>